# TODO, some initial yet:
__pycache__/
.idea/

# Front-end
front-end/node_modules
front-end/coverage
front-end/build
front-end/package-lock.json

front-new/dist
front-new/node_modules
# Docker
/data
# **/*.env
# server/*.env

# Notebooks
/.ipynb_checkpoints
**/.ipynb_checkpoints
