@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 20 14.3% 4.1%;

        --card: 0 0% 100%;
        --card-foreground: 20 14.3% 4.1%;

        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;

        --primary: 24 9.8% 10%;
        --primary-foreground: 60 9.1% 97.8%;

        --secondary: 60 4.8% 95.9%;
        --secondary-foreground: 24 9.8% 10%;

        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;

        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;

        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --ring: 20 14.3% 4.1%;

        --radius: 0.5rem;

        --mlops-bg: theme("colors.mlops-primary-bg");
    }

    .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 60 9.1% 97.8%;

        --card: 20 14.3% 4.1%;
        --card-foreground: 60 9.1% 97.8%;

        --popover: 20 14.3% 4.1%;
        --popover-foreground: 60 9.1% 97.8%;

        --primary: 60 9.1% 97.8%;
        --primary-foreground: 24 9.8% 10%;

        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;

        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;

        --accent: 12 6.5% 15.1%;
        --accent-foreground: 60 9.1% 97.8%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 60 9.1% 97.8%;

        --border: 12 6.5% 15.1%;
        --input: 12 6.5% 15.1%;
        --ring: 24 5.7% 82.9%;
        --mlops-bg: theme("colors.mlops-primary-bg-dark");
    }
}

@layer base {
    * {
        @apply border-border;
    }
    html,
    body {
        @apply min-h-screen bg-mlops-primary-bg dark:bg-mlops-primary-bg-dark;
    }
}

@layer components {
    .duration-5000 {
        transition-duration: 5000ms;
    }

    .Toastify__close-button {
        @apply dark:text-white dark:bg-red-500;
    }

    .my-masonry-grid {
        @apply flex w-auto -ml-6;
    }

    .my-masonry-grid-column {
        @apply pl-6 bg-clip-padding;
    }

    .my-masonry-grid-column > div {
        @apply mb-6;
    }

    div[data-pc-name="treeselect"][data-pc-section="root"]::before {
        @apply dark:content-[url(/column-dark.svg)] content-[url(/column.svg)] w-5 h-5 ml-2;
    }
}

* {
    font-family: "Lato", sans-serif;
}

/* width */
html::-webkit-scrollbar {
    width: 8px;
}

/* Track */
html::-webkit-scrollbar-track {
    background-color: var(--primary);
}

/* Handle */
html::-webkit-scrollbar-thumb {
    background-color: #6b85e2;
    border-radius: 4px;
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
    background: #6b85e2ee;
}

div[role="dialog"]::-webkit-scrollbar {
    width: 8px;
}

div[role="dialog"]::-webkit-scrollbar-track {
    background-color: var(--primary);
}

div[role="dialog"]::-webkit-scrollbar-thumb {
    background-color: #6b85e2;
    border-radius: 4px;
}

div[role="dialog"]::-webkit-scrollbar-thumb:hover {
    background: #6b85e2ee;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

ul[data-pc-section="subgroup"] li button {
    visibility: hidden;
}

.ag-root-wrapper {
    border-radius: 4px;
}

.ag-header-row {
    height: 40px;
    font-size: 14px;
}

.ag-header-row .ag-header-group-cell {
    font-weight: bold;
    font-size: 16px;
}

.ag-row {
    background: none;
}

.ag-cell {
    font-size: 13px;
    background: none;
}

.ag-theme-alpine-dark .ag-paging-panel {
    background-color: #222628;
}

.ag-theme-alpine .ag-paging-panel {
    background-color: #f8f8f8;
}
